*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #020412;
}

.header{
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
}

.text-box {
    margin: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}

.text-box h1 {
    font-size: 75px;
    line-height: 160px;
}

.text-box .btn {
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #fff724;
    color: #fff724;
    padding: 10px 30px;
    text-decoration: none;
}

.text-box .company {
    text-decoration: none;
    color: #86C1E2;
}

.text-box .linked {
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #fff724;
    color: #fff724;
    padding: 10px 30px;
    text-decoration: none;
}

.text-box .btn {
    background-color: #fff724;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}

.btn:hover {
    background-color: black;
    color: #fff724;
}

.linked:hover {
    background-color: #0077B5;
    color: white;
    border-color: #0077B5;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #86C1E2;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #86C1E2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
